@page "/"
@inject HttpClient http

<h1>Hello, world!</h1>

@S

@code {

    private string S = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var S1 = await http.GetFromJsonAsync<string>("api/test");

            S = S1.ToString();
        }
        catch (Exception ex)
        {
            S = ex.Message;
        }
    }
}
